body {
  margin: 0; 
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navBar{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px; 
}

.lienPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: color 0.8s ease 0s;
  color: #2a7b9b;
  font-family: "Gameplay";
  font-size: 20px;
  font-weight: 100;
  text-decoration: none;
  padding-bottom: 24px;
}

.lienPage:hover{
  color: #eddd53;
}

.main{
  flex-grow: 1;
}

/* FOOTER */
.footer {
  display: flex;
  background-color: #b3aeae;
  justify-content: space-evenly;
  flex-direction: row;
  padding-top: 8px;
  padding: 0 20px;
  width: 100%;
  height: 48px;
  border-radius: 5px 5px 0 0;
  bottom: 48px;
  color: black;
}

.footer p {
  font-family: Gameplay;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
}

.Git-Hub-Logo {
  padding-top: 7px;
  height: 30px;
  width: 30px;
}

.Linkedin-Logo {
  padding-top: 7px;
  height: 30px;
  width: 30px;
}
